body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(https://i.pinimg.com/originals/e8/a6/12/e8a61204af172f28700e4d4283a4004c.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    align-content: center;
}
.donate{
  margin: auto;
  padding: 7rem 8%;
  text-align: center;
  align-content: center;
  display: block;
  padding: auto;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

h1{
  text-align: center;
  margin: 0.1rem;
  font-size: 3rem;
  text-transform: uppercase;
  color:#FFD012;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
#donate-button{
  margin-top: 1rem;
  border-radius: 25px;
}
#donate-button:hover{
  transform: scale(1.1);
  box-shadow: rgba(255,255,255);
}
